<launch>
    <arg name="sim" default="false" />
    <arg name="record" default="true" />
    
    <!-- Serial connection for real thrusters -->
    <group unless="$(arg sim)">
        <node name="thrusters_serial_server" pkg="rosserial_python" type="serial_node.py" respawn="true">
            <param name="port" value="/dev/power"/>
            <param name="baud" value="115200"/>
        </node>
    </group>

    <!-- Record propulsion values -->
    <node pkg="rosbag" type="record" name="rosbag_propulsion"
        if="$(arg record)"
        args="/propulsion/forces"
    />
    <!-- Record controls effort thrust forces -->
    <node pkg="rosbag" type="record" name="rosbag_effort"
        if="$(arg record)"
        args="/controls/effort"
    />

    <!-- Thruster allocation nodes -->
    <node name="thrust_mapper" pkg="propulsion" type="thrust_mapper.py" output="screen">
        <!-- Thruster parameters -->
        <param name="thruster_PWM_lower_limit" value="1228" /> <!-- [μs] -->
        <param name="thruster_PWM_upper_limit" value="1768" /> <!-- [μs] -->
        <param name="a" value="0.080619" /> <!-- [m] -->
        <param name="b" value="0.226341" /> <!-- [m] -->
        <param name="c" value="0.202572" /> <!-- [m] -->
        <param name="d" value="0.228205" /> <!-- [m] -->
        <param name="e" value="0.004945" /> <!-- [m] -->
        <param name="alpha" value="45" /> <!-- [degrees] -->
    </node>
</launch>