[submodule "catkin_ws/src/auv-sim-gazebo"]
	path = catkin_ws/src/auv-sim-gazebo
	url = https://github.com/mcgill-robotics/auv-sim-gazebo.git
	ignore = all
	branch = noetic

[submodule "catkin_ws/src/auv-sim-unity"]
	path = catkin_ws/src/auv-sim-unity
	url = https://github.com/mcgill-robotics/auv-sim-unity.git
	ignore = all
	branch = noetic

[submodule "catkin_ws/src/unity-connection"]
	path = catkin_ws/src/unity-connection
	url = https://github.com/mcgill-robotics/ROS-TCP-Endpoint.git
