# generated catkin workspaces
catkin_ws/devel/
catkin_ws/build/
catkin_ws/logs/
catkin_ws/install/

# catkin tools
catkin_ws/.catkin_tools/

# swap files
**/*.swp

# cached files
**/__pycache__/

# blender previous save files
**/*.blend1

# vscode files
**/*.vscode/*

#datasets + yolo training files
catkin_ws/src/vision/cv-model/clean-data/train/*
catkin_ws/src/vision/cv-model/clean-data/test/*
catkin_ws/src/vision/cv-model/clean-data/val/*
catkin_ws/src/vision/cv-model/clean-data/*.yaml
catkin_ws/src/vision/cv-model/raw-datasets/
catkin_ws/src/vision/data/
runs/