# generated catkin workspaces
catkin_ws/devel/
catkin_ws/build/
catkin_ws/logs/
catkin_ws/install/

# catkin tools
catkin_ws/.catkin_tools/

# swap files
**/*.swp

# cached files
**/__pycache__/

# blender previous save files
**/*.blend1

# vscode files
**/*.vscode/*

#datasets + yolo training files
catkin_ws/src/vision/cv-model/data/augmented/train/*
catkin_ws/src/vision/cv-model/data/augmented/test/*
catkin_ws/src/vision/cv-model/data/augmented/val/*
catkin_ws/src/vision/cv-model/*.yaml
catkin_ws/src/vision/cv-model/data/raw/images/*
catkin_ws/src/vision/cv-model/data/raw/labels/*