# generated catkin workspaces
catkin_ws/devel/
catkin_ws/build/
catkin_ws/logs/
catkin_ws/install/

# catkin tools
catkin_ws/.catkin_tools/

# swap files
**/*.swp

# cached files
**/__pycache__/

# blender previous save files
**/*.blend1

# vscode files
**/*.vscode/*
# submodules
auv-ign
catkin_ws/src/auv-sim
=========
#recorded videos
*.mp4
#training images
*.png
*.jpg
