[submodule "catkin_ws/src/ros_gz"]
	path = catkin_ws/src/ros_gz
	url = git@github.com:gazebosim/ros_gz.git

[submodule "catkin_ws/src/auv-sim"]
	path = catkin_ws/src/auv-sim
	url = git@github.com:mcgillrobotics/auv-sim.git
	
[submodule "catkin_ws/src/gscam"]
	path = catkin_ws/src/gscam
	url = git@github.com:ros-drivers/gscam.git
