<launch>
    <!-- Effort Controllers -->
    <node name="controls" pkg="controls" type="superimposer.py" respawn="false" output="screen">
        <param name="thrust_decay" value="1.0" />
    </node>

    <node name="thrust_mapper" pkg="controls" type="thrust_mapper.py" respawn="false" output="screen">
        <remap from="thrust_cmds" to="electrical_interface/thrusters"/>
    </node>

    <!-- Closed-Loop PID Controllers (for depth, roll, pitch, and yaw) -->
    <include file="$(find controls)/launch/pid.launch" />

    <!-- Open-Loop Controllers (for surge and sway) -->
    <!-- TODO -->

    <!-- Servo Controllers -->
    <!-- TODO -->
</launch>
