<launch>
    <arg name="sim" default="false" />
    <include file="$(find controls)/launch/pid.launch">
        <arg name="sim" value="$(arg sim)" />
    </include>
    
	<node name="superimposer" pkg="controls" type="superimposer.py" respawn="true" output="screen"></node>
	<node name="servers" pkg="controls" type="init_servers.py" respawn="false" output="screen"></node>
</launch>
