<launch>
    <param name="joystick_max_force" value ="0.5" />
    <param name="joystick_dry_test_force" value ="0.0025" />
    <param name="joystick_pid_position_delta" value="0.02"/> <!-- Meters -->
    <param name="joystick_pid_orientation_delta" value="0.5"/> <!-- Degrees (euler) -->
	<node name="joystick" pkg="controls" type="joystick.py" respawn="false" output="screen"/>
</launch>
