<launch>
    <param name="joystick_max_force" value ="0.5"/>
    <param name="joystick_dry_test_force" value ="0.0025"/>
    <param name="joystick_pool_force" value="0.2"/>
    <param name="joystick_force_increment" value="0.02"/>
    
    <param name="joystick_pid_position_increment" value="0.02"/>  <!-- Meters -->
    <param name="joystick_pid_quaternion_increment_w" value="0.9999905"/> 
    <param name="joystick_pid_quaternion_increment_xyz" value="0.0043633"/>

    <param name="joystick_image_folder_path" value="$(find controls)/joystick_images"/>

    <param name="joystick_missing_data_warning_interval" value="3"/>

	<node name="joystick" pkg="controls" type="joystick.py" respawn="false" output="screen"/>
</launch>
