<launch>
	<node name="x_pid" pkg="pid" type="controller" >
		<param name="Kp" value="1.0" />
		<param name="Ki" value="0.0" />
		<param name="Kd" value="0.0" />
		<param name="upper_limit" value="10" />
		<param name="lower_limit" value="-10" />
		<param name="windup_limit" value="10" />
		<param name="max_loop_frequency" value="100.0" />
		<param name="min_loop_frequency" value="100.0" />

		<param name="topic_from_controller" value="surge" />
		<param name="topic_from_plant" value="x_state" />
		<param name="setpoint_topic" value="x_setpoint" />
	</node>
	<node name="y_pid" pkg="pid" type="controller" >
		<param name="Kp" value="1.0" />
		<param name="Ki" value="0.0" />
		<param name="Kd" value="0.0" />
		<param name="upper_limit" value="10" />
		<param name="lower_limit" value="-10" />
		<param name="windup_limit" value="10" />
		<param name="max_loop_frequency" value="100.0" />
		<param name="min_loop_frequency" value="100.0" />

		<param name="topic_from_controller" value="sway" />
		<param name="topic_from_plant" value="y_state" />
		<param name="setpoint_topic" value="y_setpoint" />
	</node>
	<node name="z_pid" pkg="pid" type="controller" >
		<param name="Kp" value="1.0" />
		<param name="Ki" value="0.0" />
		<param name="Kd" value="0.0" />
		<param name="upper_limit" value="10" />
		<param name="lower_limit" value="-10" />
		<param name="windup_limit" value="10" />
		<param name="max_loop_frequency" value="100.0" />
		<param name="min_loop_frequency" value="100.0" />

		<param name="topic_from_controller" value="heave" />
		<param name="topic_from_plant" value="z_state" />
		<param name="setpoint_topic" value="z_setpoint" />
	</node>
	<node name="dtheta_pid" pkg="pid" type="controller" >
		<param name="Kp" value="1.0" />
		<param name="Ki" value="0.0" />
		<param name="Kd" value="0.0" />
		<param name="upper_limit" value="10" />
		<param name="lower_limit" value="-10" />
		<param name="windup_limit" value="10" />
		<param name="max_loop_frequency" value="100.0" />
		<param name="min_loop_frequency" value="100.0" />

		<param name="topic_from_controller" value="axial" />
		<param name="topic_from_plant" value="dtheta_state" />
		<param name="setpoint_topic" value="dtheta_setpoint" />
	</node>
</launch>
