<launch>
    <arg name="sim" default="false" />
    <group unless="$(arg sim)">
		<include file="$(find imu)/launch/imu.launch"/>
		<include file="$(find dvl)/launch/dvl.launch"/>
    </group>
	<node name="state_aggregator" pkg="state_estimation" type="state_aggregator.py" respawn="true" output="screen">
		<param name="update_rate" value="20" />
	</node>
</launch>
