<launch>

	<include file="$(find controls)/launch/controls.launch" />
	<include file="$(find propulsion)/launch/propulsion.launch" />
	<include file="$(find state_estimation)/launch/state_estimation.launch" />
  	<node name="sensors_check_py" pkg="bringup" type="sensors_check.py" output="screen"/>

	<!-- <include file="$(find vision)/launch/object_detection.launch" /> -->
	<!-- <include file="$(find planner)/launch/mission.launch" /> -->
</launch>
