ATTRS{serial}=="1340390", SYMLINK+="depth"
ATTRS{serial}=="275200", SYMLINK+="game"
ATTRS{serial}=="768190", SYMLINK+="teensy"
ATTRS{serial}=="DA00WSQJ", SYMLINK+="thrusters"
ATTRS{serial}=="DN00YSJG", SYMLINK+="thrusters"
ATTRS{serial}=="74031303137351F04021", SYMLINK="thrusters"
KERNEL=="ttyACM*", ATTRS{idProduct}=="800c", ATTRS{idVendor}=="239a", SYMLINK+="depth", MODE:="0666"
KERNEL=="ttyACM*", ATTRS{idProduct}=="8036", ATTRS{idVendor}=="2341", SYMLINK+="blinky", MODE:="0666"
KERNEL=="ttyACM*", ATTRS{idProduct}=="1005", ATTRS{idVendor}=="4d52", SYMLINK+="blinky", MODE:="0666"
ATTRS{idProduct}=="1001", ATTRS{idVendor}=="4d52", SYMLINK+="radio"
ATTRS{idProduct}=="1003", ATTRS{idVendor}=="4d52", SYMLINK+="imu"
ATTRS{idProduct}=="6001", ATTRS{idVendor}=="0403", SYMLINK+="imu"
ATTRS{idProduct}=="1002", ATTRS{idVendor}=="4d52", SYMLINK+="sonar"
KERNEL=="ttyACM*", ATTRS{idProduct}=="800c", ATTRS{idVendor}=="239a", SYMLINK+="depth", MODE:="0666"
ATTRS{interface}=="Sonar RS232", SYMLINK+="sonar"
ATTRS{interface}=="ST-Link VCP Ctrl", SYMLINK+="nucleo", MODE:="0666"
KERNEL=="ttyUSB*", ATTRS{serial}=="MR2GL00X", SYMLINK+="dvl"

ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="04[789]?", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="04[789]?", ENV{MTP_NO_PROBE}="1"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="04[789]?", MODE:="0666"
KERNEL=="ttyACM*", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="04[789]?", MODE:="0666"
