<launch>
    <!-- Load the parameters globally BEFORE starting the node -->
    <param name="image_data_dir/front_cam" value="$(find vision)/data_front_cam" />
    <param name="image_data_dir/down_cam" value="$(find vision)/data_down_cam" />

    <include file="/AUV-2025/catkin_ws/src/zed-ros-wrapper/zed_wrapper/launch/zed2i.launch" />
    
    <!-- Now launch the node -->
    <node pkg="vision" type="image_collection.py" name="image_collection" output="screen" />
</launch>
