<launch>
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="log">
        <param name="video_device" value="/dev/video0" />
        <!-- <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="io_method" value="mmap"/> -->

	<remap from="/usb_cam" to="/vision/down_cam"/>
    </node>
    <node name="object_detection" pkg="vision" type="object_detection.py" respawn="true"  output="screen"/>
</launch>
