<launch>
	<node name="stereo_cams" pkg="vision" type="stream_cameras.py" respawn="true"  output="screen">
		<param name="sensor_id" value="1" />
		<param name="inputImgWidth" value="2028" />
		<param name="inputImgHeight" value="1080" />
		<param name="outputImgWidth" value="507" />
		<param name="outputImgHeight" value="270" />
		<param name="framerate" value="50" />
		<param name="stereo" value="true" />
		<param name="outputTopicLeft" value="/vision/left_cam/image_raw" />
		<param name="outputTopicRight" value="/vision/right_cam/image_raw" />
	</node>
	
</launch>
