<launch>
    <arg name="sim" default="false" />
    <param name="/use_sim_time" value="$(arg sim)" />
    <group unless="$(arg sim)">
        <include file="$(find vision)/launch/stream-down-cam.launch" />
        <!-- <include file="$(find vision)/launch/stream-front-cam.launch" /> -->
    </group>
    <node name="object_detection" pkg="vision" type="object_detection.py" respawn="true"  output="screen"/>

</launch>
