<launch>
	<include file="$(find planner)/launch/test-01-thrusters/test-01-roll.launch" />
	<include file="$(find controls)/launch/controls.launch" />
	<include file="$(find propulsion)/launch/propulsion.launch" />
	<include file="$(find state_estimation)/launch/state_estimation.launch" />
</launch>
