<launch>
  <node name="sbg_device_mag" pkg="sbg_driver" type="sbg_device_mag" output="screen">
    <rosparam command="load" file="$(find sensors)/config/sbg_imu.yaml"/>
  </node>
</launch>


<!--  
Excerpt from https://github.com/SBG-Systems/sbg_ros_driver:

1. Make sure you have selected the desired 2D or 3D magnetic field calibration mode (calibration.mode in the configuration yaml file).
2. Start a new magnetic calibration session once you are ready to map the magnetic field:
roslaunch sbg_driver sbg_device_mag_calibration.launch
rosservice call /sbg/mag_calibration

Expected Reply:
success: True
message: "Magnetometer calibration process started."

3. Rotate as much as possible the unit to map the surrounding magnetic field (ideally, perform a 360° with X then Y then Z axis pointing downward).
4. Once you believe you have covered enough orientations, compute a magnetic field calibration:
rosservice call /sbg/mag_calibration

Expected Reply:
success: True
message: "Magnetometer calibration is finished. See the output console to get calibration information."

5. If you are happy with the results (Quality, Confidence), apply and save the new magnetic calibration parameters.
   If not, you can continue to rotate the product and try to perform a new computation (and repeat step 4)
rosservice call /sbg/mag_calibration_save

Expected Reply: 
success: True
message: "Magnetometer calibration has been uploaded to the device."

6. Reset/Power Cycle the device and you should now get an accurate magnetic based heading.
Enable communication with the SBG device
To be able to communicate with the device, be sure that your user is part of the dialout group.
Once added, restart your machine to save and apply the changes.   -->