<launch>
  <arg name="port" default="/dev/dvl" doc="serial port"/>
  <arg name="baudrate" default="115200" doc="serial baud rate"/>

  <node name="calibrate_dvl"
        pkg="sensors"
        type="calibrate_dvl.py"
        output="screen"
        respawn="true"
        respawn_delay="5">
    <!-- Set ROS parameters -->
    <param name="port" value="$(arg port)" type="str"/>
    <param name="baudrate" value="$(arg baudrate)" type="int"/>
  </node>
</launch>