<launch>
  <arg name="port" default="/dev/auv_dvl" doc="serial port"/>
  <arg name="baudrate" default="115200" doc="serial baud rate"/>

  <node name="waterlinked_driver"
        pkg="dvl"
        type="waterlinked_dvl.py"
        output="screen"
        respawn="true"
        respawn_delay="5">
    <!-- Set ROS parameters -->
    <param name="port" value="$(arg port)" type="str"/>
    <param name="baudrate" value="$(arg baudrate)" type="int"/>
  </node>
</launch>
