<launch>
     <param name="sensor_warning_interval" value="5"/> <!-- secs -->
     <param name="sensor_status_update_rate" value="10"/> <!-- Hz -->
     <param name="time_before_considered_inactive" value="5"/>
     <param name="hydrophones_time_difference_tolerance" value="5000000 "/> <!-- = 0.5 secs -->

     <node name="sensors_status" pkg="sensors" type="sensors_status.py" output="screen" respawn="true"/>
</launch>
