<launch>
	<arg name="vision" default="false" />
	<arg name="record" default="true" />

	<include file="$(find sensors)/launch/sensors_status.launch"/>
	
	<include file="$(find sensors)/launch/tether_status.launch"/>
	<include file="$(find sensors)/launch/depth_sensor_and_display.launch"/>
	<include file="$(find sensors)/launch/hydrophones.launch"/>
	<include file="$(find sensors)/launch/dvl.launch"/>
	<include file="$(find sensors)/launch/imu.launch"/>

	<node pkg="rosbag" type="record" name="rosbag_imu"
		if="$(arg record)"
		args="/sensors/imu/raw /sensors/imu/angular_velocity /sensors/imu/quaternion"
	/>

	<node pkg="rosbag" type="record" name="rosbag_dvl"
		if="$(arg record)"
		args="/sensors/dvl/pose"
	/>

	<node pkg="rosbag" type="record" name="rosbag_depth"
		if="$(arg record)"
		args="/sensors/depth/z"
	/>

	<group if="$(arg vision)">
     	<include file="$(find sensors)/launch/stream-down-cam.launch"/>
     	<include file="$(find sensors)/launch/stream-front-cam.launch"/>
	</group>

</launch>