<launch>
	<arg name="vision" default="false" />
	<arg name="record" default="true" />

	<include file="$(find sensors)/launch/sensors_status.launch"/>
	
	<include file="$(find sensors)/launch/tether_status.launch"/>
	<include file="$(find sensors)/launch/depth_sensor_and_display.launch"/>
	<include file="$(find sensors)/launch/dvl.launch"/>
	<!-- <include file="$(find sensors)/launch/sbg_imu.launch"/> --> 
	<include file="/AUV-2025/catkin_ws/src/xsens_ros_mti_driver/launch/xsens_mti_node.launch"/>
	<include file="/AUV-2025/catkin_ws/src/zed-ros-wrapper/zed_wrapper/launch/zed2i.launch"/>

	<node pkg="sensors" type="Movella_republisher.py" name="movella_republisher" output="screen"/>
	<node pkg="sensors" type="zed_pose_republisher.py" name="zed_pose_republisher" output="screen"/>

	<node pkg="rosbag" type="record" name="rosbag_imu"
		if="$(arg record)"
		args="/sensors/imu/raw /sensors/imu/angular_velocity /sensors/imu/quaternion"
	/>

	<node pkg="rosbag" type="record" name="rosbag_dvl"
		if="$(arg record)"
		args="/sensors/dvl/pose"
	/>

	<node pkg="rosbag" type="record" name="rosbag_depth"
		if="$(arg record)"
		args="/sensors/depth/z"
	/>

	<group if="$(arg vision)">
     	<include file="$(find sensors)/launch/stream-down-cam.launch"/>
	</group>

</launch>
